.styledRadio, .styledCheckbox {

	float: left;
}

.example {
	padding: 50px 0 0 20px;
}

label {

	font-size: 20px;
	padding-right: 20px;
	float: left;
}

button {
	display: block;
}
span {
	/*display: block;*/
}
